services:
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app_network

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq_service
    ports:
      - "${RABBITMQ_UI_PORT}:15672"
      - "${RABBITMQ_PORT}:5672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app_network

  mongodb:
    image: mongo:7
    container_name: mongodb_service
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network

  python-collector:
    build: ./python-collector
    container_name: python_collector
    environment:
      LATITUDE: "${LATITUDE}"
      LONGITUDE: "${LONGITUDE}"
      TIMEZONE: "${TIMEZONE}"
      WEATHER_BASE_URL: "${WEATHER_BASE_URL}"
      RABBITMQ_USER: "${RABBITMQ_USER}"
      RABBITMQ_PASS: "${RABBITMQ_PASS}"
      RABBITMQ_PORT: "${RABBITMQ_PORT}"
      RABBITMQ_QUEUE: "${RABBITMQ_QUEUE}"
      RABBITMQ_HOST: "rabbitmq"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app_network

  go-worker:
    build: ./go-worker
    container_name: go_worker
    environment:
      API_URL: ${NESTJS_API}
      RABBITMQ_USER: "${RABBITMQ_USER}"
      RABBITMQ_PASS: "${RABBITMQ_PASS}"
      RABBITMQ_PORT: "${RABBITMQ_PORT}"
      RABBITMQ_QUEUE: "${RABBITMQ_QUEUE}"
      RABBITMQ_HOST: "rabbitmq"
    depends_on:
      rabbitmq:
        condition: service_healthy
      api:
        condition: service_started
    networks:
      - app_network

  api:
    build: ./backend
    container_name: nestjs_api
    ports:
      - "${NESTJS_PORT}:3000"
    environment:
      MONGO_URI: ${MONGO_URI}
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: web_frontend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
  rabbitmq_data:
