services:
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_service
    ports:
      - "${RABBITMQ_UI_PORT}:15672"
      - "${RABBITMQ_PORT}:5672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app_network

  mongodb:
    image: mongo:latest
    container_name: mongodb_service
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network

  python-collector:
    build: ./python-collector
    container_name: python_collector
    ports:
      - "${PYTHON_COLLECTOR_PORT}:8000"
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      WEATHER_API_KEY: "${WEATHER_API_KEY}"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app_network

  go-worker:
    build: ./go-worker
    container_name: go_worker
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      API_URL: ${NESTJ_API}
    depends_on:
      rabbitmq:
        condition: service_healthy
      api:
        condition: service_started
    networks:
      - app_network

  api:
    build: ./backend
    container_name: nestjs_api
    ports:
      - "${NESTJ_PORT}:3000"
    environment:
      MONGO_URI: ${MONGO_URI}
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: web_frontend
    ports:
      - "${FRONTEND_PORT}:80"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
  rabbitmq_data:
